h1 {
    text-align: center;
}
h2 {
    text-align: center;
    margin-bottom: 64px;
}
.game-board{
    display: flex;
    justify-content: center;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 64px;
}

img {
    width: 10%;
    height: auto;
}

.mid-section {
    display: flex;
    flex-direction: column;
    width: 256px;
    justify-content: space-between;
}

.choices {
    display: flex;
    justify-content: space-between;
}

.result {
    align-self: center;
}

.score {
    display: flex;
    justify-content: center;
    gap: 32px;
}