body {
    background-color: rgb(54, 6, 6);
}

h1,
h2 {
    text-align: center;
    color: rgb(218, 98, 23);
    margin: 1vh;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

.game-board{
    display: flex;
    justify-content: center;
    background-color: rgb(155, 104, 79);
    margin: 8vh 5vw;
    padding: 8vh 0;
    border: .8vw rgb(246, 189, 85) solid;
    border-radius: 1.4vw;
    color: rgb(54, 6, 6);
    font-size: 1.8vw;
    font-weight: bolder;

}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    width: 8vw;
    margin-right: auto;
    margin-left: auto;
}

button {
    background-color: rgb(54, 6, 6);
    color: rgb(218, 98, 23);
    font-weight: bold;
    font-size: 1.5vw;
    border: .4vw solid rgb(54, 6, 6);
    border-radius: .8vw;
    transition-duration: 64ms;
    cursor: pointer;
    height: 8vh;
}

button:hover {
    border: .4vw solid rgb(218, 98, 23);
}

button:active {
    background-color: rgb(37, 16, 16);
    transform: translateY(.4vh);
}

.hidden {
    visibility: hidden;
}

.player-section {
    width: 14vw;
}

.win-count,
.loss-count,
.tie-count {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 4vh;
    margin-top: 4vh;
    border: .4vw solid rgb(54, 6, 6);
    border-radius: 1.6vw;
}

.mid-section {
    display: flex;
    flex-direction: column;
    width: 28vw;
    justify-content: space-between;
}

.choices {
    display: flex;
    justify-content: space-around;
    margin: auto 0;
    gap: 1vw;
}

.result {
    text-align: center;
    font-size: 3vw;
}

.victor-screen {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 30vh;
    left: 30vw;
    height: 40vh;
    width: 40vw;
    background-color: rgb(54, 6, 6);
    color: rgb(218, 98, 23);
    align-items: center;
    justify-content: center;
    border: .4vw rgb(246, 189, 85) solid;
    border-radius: 2vw;
    font-size: 3vw;
    font-weight: bold;
}

.close-button {
    position: absolute;
    top: -1vw;
    right: -1vw;
    text-align: center;
    width: 2vw;
    height: 2vw;
    line-height: 2vw;
    border: .2vw black solid;
    border-radius: 2vw;
    background-color: rgb(41, 27, 2);
    font-size: 2vw;
}

.close-button:hover {
    cursor: pointer;
}